.anchor__li {
  text-transform: uppercase;
  font-weight: 300;
}
nav .nav-wrapper {
    padding: 0 2em;
}
i.material-icons {
    font-size: 4rem;
}
i.large.material-icons {
   /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
}
section.main__wrap {
    background-color: #FFAB91;
    padding: 5em 0 10em 0;
    overflow: hidden;
}
nav {
    background-color: #FF8964;
}
.btn:hover, .btn-large:hover {
    background-color: #FFAB91;
}
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #FFAB91;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}
a.anchor__li {
    font-weight: 700;
    font-family: 'BebasNeu';
    font-size: 1.6em;
}
h3 {
    color: #4E342D;
    text-transform: uppercase;
    font-weight: 300;
    font-style: initial;
    font-family:'BebasNeu';
    font-size: 4.92rem;
}
.avatar__text {
    font-family: 'BebasNeuthin';
    font-size: 2em;
    font-weight: 500;
    color: #553025;
    line-height: 38px;
    margin: 0;
}
a.modal-trigger.waves-effect.waves-light.btn {
    font-family: 'BebasNeu';
    font-size: 1.4rem;

}
.avatar__text {
  padding-bottom: 1em;
}
.btn__universal {
    font-family: 'BebasNeu';
    font-size: 2rem;
    color: #fff;
    border: 3px solid #4E332B;
    padding: .2em .6em;
}
.btn__more {
    background-color: #4E332B;
    border-radius: 6px;
    transition: .5s;
}
.btn__more:hover {
    background-color: inherit;
    border-radius: 6px;
}
.btn__port {
  transition: .5s;
  border-radius: 6px;
}
.btn__port:hover {
  background-color: #4E332B;
}
h4 {
  font-family: 'BebasNeu';
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
input#first_name {
    color: #fff;
    font-family: 'BebasNeu';
    font-size: 2em;
}
.input-field label {
    color: #FFFFFF;
    left: 0.75rem;
    font-size: 1.4rem;
    font-family: 'BebasNeu';
}
span.contact__span {
    display: inline-block;
    vertical-align: super;
    font-size: 1.4rem;
    font-family: 'BebasNeu';
    color: #fff;
}
.mail_me {
  text-align: center;
  color: #fff;
}
.point__col {
  color: #fff;
}
i.small.material-icons.point__col {
    color: #D38C78;
}
div#modal1 {
    border-top: 10px solid #FF8964;
}
.resume__wrap {
    background-color: #4E332B;
    padding-top: 22px;
    padding-bottom: 40px;
}
h4.resume__title {
    background-color: #4E332B;
    margin: 0;
    padding: 0;
    font-size: 3rem;
}
i.fa.fa-html5 {
    color: #D46442;
    font-size: 9em;
}
.tabs .tab a {
    color: #FFFFFF;
    font-size: 1.4rem;
    font-family: 'BebasNeu';
}
.tabs__resume_wrap {
    padding-top: 2em;
}
.img__wrapper {
    padding-top: 50px;
    text-align: center;
}
.resume__text {
    padding-top: 50px;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-family: 'BebasNeu';
}
.icon-html-five:before {
    content: "\e900";
}
li.resume__li {
    font-size: 2em;
    text-align: center;
}
li.resume__li ul li {
  float: left;
}
.aboutne__text {
    padding-top: 50px;
    color: #FFFFFF;
    font-size: 2.6rem;
    font-family: 'BebasNeu';
    text-align: center;
}
.aboutne__inner {
  display: block;
  color: #FF8964;
  font-size: 2rem;
  font-family: 'BebasNeu';
  text-align: center;
  border-bottom: 3px solid #FF8964;
}
.aboutRowAbsolute {
    font-size: .9em;
}
.slide__adapt {
  width: 100%;
  height: 100vh;
  background-color: #FF8964;
}
.sp_name {
    text-decoration: underline;
}
.sp_mn {
    background-color: #4E342D;
    color: #fff;
    padding: 3px;
    border-radius: 6px;
}

.carousel__main {
  font-family: 'BebasNeu';
  color: #fff;
  text-align: center;
  background-color: #FF8964;
  margin: 0;
  padding: 22px 0 35px 0;
  font-size: 3rem;
}
.carousel__title {
  font-family:'BebasNeu';
  color: #4E342D;
  text-align: center;
  font-size: 2.64rem;
}
.carousel__li_open {
  font-family: 'BebasNeuthin';
  font-size: 1.8rem;
  font-weight: 500;
  color: #4E332B;
  text-align: center;
}

.look__portfolio_btn {
  font-family: 'BebasNeu';
  font-size: 2rem;
  color: #fff;
  border: 3px solid #4E332B;
  padding: .2em .6em;
  background-color: #4E332B;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 2em;
  transition: .5s;
  cursor: pointer;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.look__portfolio_btn:hover,.look__portfolio_btn:focus {
  color: #fff;
  border: 3px solid #FFAB91;
  background-color: #FF8964;
}
section.carousel__wrap {
    background-color: #FF8964;
    padding-bottom: 3em;
}
.menuFix {
  position: fixed;
  top: 0;
  left: 0;
  z-index:1000;
}
p.avatar__text.wow.bounceInRight {
    overflow: hidden;
}
footer {
  background-color: #4E332B;
  padding: 10px 0;
}
.footer__contact {
  font-family: 'BebasNeu';
  font-size: 1.8rem;
  color: #fff;
  position: relative;
}
.footer__contact {
  text-align: center;
}




/* --- MEDIA --- */

@media screen and (max-width:750px) {
  .avatar__title {
      padding-top: 0;
  }
}

@media screen and (max-width:600px) {
  h3 {
      text-align: center;
      font-size: 3em;
  }
  .avatar__text {
    text-align: center;
  }
  .bavatar__buttons {
    text-align: center;
  }
  .aboutne__inner {
    font-size: 2rem;;
  }
  .resume__text {
    text-align: center;
}
  .carousel__title {
      overflow: hidden;
      margin-top: 40px;
  }
  img.responsive-img.wow.bounceInUp.parallax__more {
    width: 260px;
    text-align: center;
  }
  .center__img {
    text-align: center;
  }
  .indicators {
    display: none;
  }
}
